<%= form_for @pawn do |f| %>
  
  <div><%= f.hidden_field :role %></div>  
  <div><%= f.hidden_field :user_id %></div>
  
  <div><%= f.select :gamestate_id, Gamestate.all.collect { |p| [p.id] } %></div>
  
  <div class="actions"><%= f.submit "Join" %></div>
<% end %>

