
<h1>I has lobbies</h1> 

<table border=1>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Speed</th>
    <th>Slots</th>
    <th></th>
  </tr>
 
<% @user_lobbies.each do |lobby| %>
  <tr>
    <td><%= lobby.name %></td>
    <td><%= lobby.description %></td>
    <td><%= lobby.game_speed %></td>
    <td><%= "#{lobby.lobby_users.length}/#{lobby.max_slots}" %></td>
    <td><%= link_to (lobby.has_current_user ? 'view' : 'join'), lobby %></td>
  </tr>
<% end %>
</table>
<br />


