
<h1>I has lobbies</h1> 

<table border=1>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th>user_id</th>
    <th>max slots</th>
    <th></th>
  </tr>
 
<% @user_lobbies.each do |lobby| %>
  <tr>
    <td><%= lobby.id %></td>
    <td><%= lobby.name %></td>
    <td><%= lobby.description %></td>
    <td><%= lobby.user_id %></td>
    <td><%= lobby.max_slots %></td>
    <td><%= link_to 'join game', :action => "show", :id => lobby.id %></td>
  </tr>
<% end %>
</table>
<br />


