<div>Current turn <%= currentTurn %></div>
<div>Next update <%= nextUpdate %></div>

<div>Action Queue
  <% actionQueue.each do |a| %>
  <li><%= a.typeToString %></li>
  <% end %>
</div>


<table><tr><td>
  <div>
    Room render (* denotes current player position)
  <table border="1">
    
    
    <% for y in 0..16 %>
      <tr>
      <% for x in 0..17 %>
        <td style="width:48px; height: 48px">
          
          
          <%= if (@pos.x == x && @pos.y == y) then "*" end %>
          <%= if (@vPos.x == x && @vPos.y == y) then "v" end %>
          
          <%= if @gamestate.game_ship.logic_nodes[x][y].kind_of? LogicNode then
            @gamestate.game_ship.logic_nodes[x][y].node_type
          end %>


          <%= if @gamestate.game_ship.rooms[x][y].kind_of? Room  then
            @gamestate.game_ship.rooms[x][y].room_type
            
          else
            "..." 
          end %>
          

        </td>
      <% end %>
      </tr>
    <% end %>
  </table>
  </div>

</td><td>
  
  <div>  
    <div>V_Pos: <%= @vPos %>  </div>  
  </div>

</td></tr></table>
