<div>Current turn <%= currentTurn %></div>
<div>Next update <%= nextUpdate %></div>

<div>Action Queue
  <% actionQueue.each do |a| %>
  <li><%= a.typeToString %></li>
  <% end %>
</div>


<div>
  <%= @ship.rooms.each do |value| %>
   <%= value.room_type %> @ <%= value.position %><br>
  <% end %>
</div>