<header>
  <%= link_to root_path %>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <li><%= link_to "Lobbies", lobbies_path %></li>
      <li><%= link_to "Join game", joingame_path %></li>
      <li><%= link_to "My active games", mygames_path %></li>      
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
  
  <style>    
    div.w1 {
      background: rgb(150,200,255)
    }    
    div.c1 {
      background: rgb(200,200,200);      
    }
    div.cr1 {
      background: rgb(200,200,200)
    }
    div.b1 {
      background: rgb(255,150,150)
    }
    
    div.g1 {
      background: rgb(130,130,130)
    }
    div.e1 {
      background: rgb(255,255,170)
    }
    div.r1 {
      background: rgb(160,200,200)
    }
    div.r2 {
      background: rgb(170,200,200)
    }
    div.r3 {
      background: rgb(180,200,200)
    }
    div.r_air {
      background: rgb(220,220,255)
    }

    
  </style>
  
</header>