<!DOCTYPE html>
<html>
<head>
	<title>Paranoia | <%= @title %> </title>
	<%= stylesheet_link_tag("paranoia") %>
	<%= javascript_include_tag("jquery-1.7.min") %>
	<%= javascript_include_tag("paranoia") %>
</head>
<body>
	<%= yield %>
</body>
</html>
